:root {
  --main-color: #fcb900;
}

ul {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
  margin: 0 !important;
}

$colors: (
  white: #FFFFFF,
  wheat: #C9AA71,
  orange: #FF9C00,
  dark-gray: #121212
);

$fonts: (
  mic: 0.8em,
  maricel: 1em,
  mare: 1.4em,
  foartemare: 2em
);

$marimi: (
  desktop: 840px
);

@function culoare($culoare) {
  @return map-get($colors, $culoare);
}

@function alegeMarime($marime) {
  @return map-get($marimi, $marime);
}

@function alegeFont($font) {
  @return map-get($fonts, $font);
}

@mixin desktop {
  @media (min-width: alegeMarime(desktop)) {
    @content;
  }
}

body {
  background: #262b2f;
  color: #c8c8c8;
  font-size: unset;
  text-align: unset;
  line-height: unset;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  outline: none !important;
}

.container-catalin {
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1170px;
  margin: auto;
}

// HEADER

.header-catalin {
  background: url(../imagini/background-page.png);
  height: 410px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.spin {
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  -ms-animation: spin 30s linear infinite;
  -o-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}

@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// NAVIGATION

.navigation-catalin {
  width: 100%;
  position: absolute;
  margin-top: 30px;
  .social-left-catalin {
    z-index: 1000;
    //margin-top: 28px;
    float: right;
    li {
      display: inline-block;
      margin-left: 5px;
      a {
        box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
        color: #AAACB2;
        background: rgba(255,255,255,0.17);
        width: 48px;
        height: 48px;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        transition: all 0.30s;
        i {
          text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
          font-size: alegeFont(mare);
          line-height: 48px;
          margin: auto;
        }
      }
      a:hover {
        color: #fff !important;
      }
    }
  }
  .navigation-links-catalin {
      list-style-type: none;
    li {
      display: inline-block;
      a {
        display: block;
        color: #c6c3c3;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 3px solid rgba(0,0,0,0);
        transition: all 0.30s;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
        padding: 15px 15px;
        border-radius: 5px;
      }
      i {
        margin-right: 5px;
        font-size: 15px;
      }
      a:hover {
        background: rgba(255,255,255,0.1);
        color: #fff;
      }
    }
  }
}

// RESPONSIVE NAVIGATION
@media only screen and (max-width: 600px) {
  .navigation-catalin {
    position: static !important;
  }
  .responsive-social-left-catalin {
    margin: 0 !important;
    float: none !important;
    padding: 25px !important;
    text-align: center !important;
    position: static !important;
    li {
      display: inline-block !important;
      a {
        text-align: center !important;
      }
    }
  }
  .header-catalin {
    height: max-content !important;
  }
  .responsive-navigation-links-catalin {
    justify-content: center !important;
    vertical-align: middle !important;
    display: block !important;
    position: static !important;
    li {
      display: block !important;
      a {
        text-align: center !important;
        border: none !important;
      }
      a:hover {
        border: none !important;
        background: rgba(255,255,255,0.05) !important;
      }
    }
  }
}

// COUNTER SECTION
.counter-section-catalin {
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.02);
  background: #2c3136;
  margin-bottom: 80px;
  .col-flex-catalin {
    display: inline-block;
    width: 45%;
    .directie-elemente {
      display: inline-block;
      vertical-align: middle;
      .principalul-element {
        i {
          font-size: 35px;
          padding: 15px;
          border-radius: 5px;
        }
      }
    }
    .directia-elementelor-secundare {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      .element-secundar {
        h3 {
          color: var(--main-color);
          font-weight: bold;
          font-size: 18.72px;
          margin: 0;
        }
        p {
          color: #fff;
        }
      }
    }
  }
  .logo-counter {
    position: absolute;
    vertical-align: top;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -20px;
  }
  .play-button-design {
    color: #3c00ff;
  }
  .play-button-design-gray {
    color: #AAACB2;
    text-align: left;
  }
  .flex-right {
    float: right;
    text-align: right;
  }
}
#ipServer {
  cursor: context-menu;
  opacity: 0;
  outline: 0;
  border: none;
}

// WELCOME

.welcome {
  background: url(../imagini/background-poke.png);
  margin: 40px 0;
  h2 {
    padding: 40px 0px;
    color: #fff;
    text-transform: uppercase;
  }
}

// ANNOUNCEMENT SYSTEM

.anunt-catalin {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 12px rgba(0,0,0,.1);
  box-shadow: 0 10px 12px rgba(0,0,0,.1);
  .header-anunt {
    background: #2c3136;
    border-bottom: 1px solid rgb(38, 43, 47);
    padding: 10px;
    .date {
      display: inline-block;
      padding: 15px 10px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      li {
        p {
          color: #fff;
          text-align: center;
          font-size: 1.1em;
          text-transform: uppercase;
          font-weight: bold;
          text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
        }
      }
    }
    .informations {
      display: block;
      text-align: center;
      padding: 10px 0px;
      li {
        h3 {
          text-transform: uppercase;
          font-weight: bold;
          color: var(--main-color);
          font-size: 20px;
        }
        p {
          color: #c8c8c8;
        }
      }
    }
  }
  .anunt-scris {
    background: #2c3136;
    padding: 20px;
    h3 {
      margin-bottom: 20px;
    }
    p {

    }
  }
  .footer-anunt {
    background: #2c3136;
    padding: 20px;
    text-align: right;
    //border-bottom-left-radius: 5px;
    //border-bottom-right-radius: 5px;
    a {
      color: var(--main-color);
      text-transform: uppercase;
      padding: 10px 20px 9px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.15s;
      background: rgba(0,0,0,0.05);
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      i {
        margin-right: 6px;
      }
    }
    a:hover {
      color: #c8c8c8;
    }
  }
}

// CARACTERISTICS

.caracteristics {
  background: url(../imagini/background-poke.png);
  padding: 40px 0px;
  text-align: center;
  .cutie {
    background: rgba(0,0,0,0.1);
    display: inline-block;
    padding: 20px;
    margin: auto;
    .iconita {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      i {
        font-size: 30px;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
        color: #AAACB2 !important;
      }
    }
    .informatie {
      display: inline-block;
      vertical-align: middle;
      p {
        text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
        color: #fff;
        text-align: left;
        letter-spacing: 1px;
      }
      .titlu-casuta {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
.mergisus {
    transition: 0.15s;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background-color: var(--main-color);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    text-indent: -9999px;
    display: none;
}
.mergisus span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

// FOOTER NAVIGATION

.footer-nav {
  background: #43454A;
  padding: 10px 0px;
  ul {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        padding: 25px;
        display: block;
        color: #AAACB2;
        transition: all 0.30s;
      }
      a:hover {
        color: #fff;
      }
      #store {
        background: #37393E;
        border-radius: 5px;
        text-transform: uppercase;
        width: 100px;
        text-align: center;
        padding: 15px 25px;
        margin-top: 10px;
      }
    }
  }
}
.footer {
  background: #262b2f;
  text-align: center;
  padding: 10px 0px;
  .gray-animatie {
    filter: grayscale(100%);
    transition: all .3s;
    cursor: pointer;
    width: auto;
    height: 100px;
  }
  .gray-animatie:hover {
    filter: grayscale(0%);
  }
  p {
    color: #6C6F77;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
.concurent-secundar {
  color: #AAACB2 !important;
}

// RESPONSIVE FOOTER NAV
@media only screen and (max-width: 600px) {
  .footer-nav ul{
    text-align: center;
    display: block !important;
  }
  .footer-nav ul li {
    display: block !important;
  }
  #store {
    margin: auto !important;
  }
}

// RESPONSIVE CARACTERISTICS
@media only screen and (max-width: 600px) {
  .caracteristics .cutie {
    background: rgba(0,0,0,0.1);
    display: block;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
  }
}

// RESPONSIVE LOGO
@media only screen and (max-width: 600px) {
  .counter-section-catalin .logo-counter
  {
    display: none;
  }
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #37393E;
}
::-webkit-scrollbar-track {
    background: #040807;
}

// DARK MODE

.counter-dark {
  background: #0a1f3a !important;
}
.play-button-design-dark {
    color: #43454a !important;
}

.anunt-scris-dark {
    background: #0a1f3a !important;
}

.footer-anunt-dark {
  background: #0a1f3a !important;
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.footer-anunt-dark-a {
  color: #fff !important;
}

.text-alb-dark {
  color: #fff !important;
}

// VOTE DROPDOWN
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.07);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgba(255,255,255,0.1);}

.dropdown:hover .dropdown-content {
  display: block;
}

// LOGO ANIMATION
.logo-animation > img {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;

}

@media only screen and (max-width: 600px) {
  .container {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .dropdown-content {
    background-color: #43454A !important;
  }
  .navigation-catalin {
    margin-top: 0px !important;
    padding-bottom: 20px;
  }
  .logo-animation > img {
    display: none;
  }
}

.discord-top {
  padding: 20px;
  background: #2c3136;
}

.directie-elemente {
  display: inline-block;
  vertical-align: middle;
  .principalul-element {
    i {
      background: #00000014;
      padding: 15px;
      border-radius: 5px;
      font-size: 35px;
      color: var(--main-color);
    }
    .discord-spatiu {
      margin-left: 10px;
    }
    .server-spatiu {
      margin-right: 10px;
    }
  }
}
.directia-elementelor-secundare {
  display: inline-block;
  vertical-align: middle;
  .element-secundar {
    h3 {
      color: var(--main-color);
      font-weight: bold;
      font-size: 18.72px;
      margin: 0;
    }
    p {
      color: #fff;
    }
  }
}

// STAFF SECTION
.store-sale {
  display: block;
  padding: 20px 0;
  background: #2c3136;
  text-align: center;
  a {
    color: #fff;
    background: var(--main-color);
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
  }
}

// UPDATES CSS
.update-container {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin: 0px 20px 20px 0px;
  .update-box {
    border-radius: 2px;
    border-left: 3px solid;
    border-color: #55FF55;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #fff;
    margin: 0px 0px 20px 0px;
    .update-header {
      padding: 10px;
      .update-server-name
      {
        text-transform: uppercase;
        font-weight: bold;
        color: #7184B8;
      }
      p:nth-child(2) {
        margin: 10px 0px;
      }
    }
    .update-footer {
      background: #f9fafa;
      border-top: 1px solid #e0e0e0;
      padding: 10px;
      color: #7184B8;
    }
  }
}
.filter-updates {
  float: right;
  width: 25%;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  .filter-updates-header {
    padding: 20px;
    background: #f9fafa;
  }
  .filter-updates-body {
    padding-top: 15px;
    a:nth-child(1) {
      border-radius: 2px;
      border-left: 3px solid;
      border-color: #55FF55;
      color: #7184B8;
    }
    a {
      display: block;
      padding: 10px;
      margin: 5px 0px;
      text-decoration: none;
      color: #999;
    }
  }
}

// Server List
.server-list-container {
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0 10px 12px rgba(0,0,0,.1);
  box-shadow: 0 10px 12px rgba(0,0,0,.1);
  .server-list-header {
    background: var(--main-color);
    padding: 30px;
    border-bottom: 4px solid rgba(0,0,0,0.1);
    p {
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
  }
  .server-list-corp {
    background: #2c3136;
    padding: 25px;
    border-bottom: 2px solid #262b2f;
    overflow: hidden;
    .server-logo {
      height: 100px;
      width: 100px;
      text-align: center;
      line-height: 100px;
      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
    .server-list-stanga {
      float: left;
    }
    .server-list-dreapta {
      padding-left: 120px;
      .server-description {
        margin-top: 10px;
        line-height: 20px;
      }
      .server-list-dreapta-block {
        h1 {
          font-size: 15pt;
          font-weight: 600;
          .server-cutie-jucatori {
            font-size: 13px;
            background: #262b2f;
            font-weight: 700;
            padding: 5px 8px;
            float: right;
            span {
              color: var(--main-color);
            }
          }
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

// VOTE CONTENT
.vote-content {
  margin: 0 0 10px 0;
  .vote-big-box {
    vertical-align: top;
    background-color: #2c3136;
    -webkit-box-shadow: 0 10px 12px rgba(0,0,0,0.1);
    box-shadow: 0 10px 12px rgba(0,0,0,0.1);
    //border-radius: 5px;
    display: inline-block;
    width: 70%;
    padding: 20px;
    p {
      text-align: center;
    }
    b {
      text-align: center;
      display: block;
    }
    img {
      display: block;
      margin: 10px auto;
    }
    .vote-rewards {
      margin: 15px 0px;
      text-align: center;
      .vote-reward {
        background: #4da564;
        border-radius: 5px;
        width: 300px;
        margin: 10px;
        padding: 15px;
        display: inline-block;
        font-weight: 700;
        border-bottom: 3px solid rgba(0,0,0,.15)!important;
        p {
          font-weight: bold;
          color: #fff;
          text-shadow: 0 2px 2px rgba(0,0,0,.1);
        }
      }
    }
  }
  .vote-medium-box {
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    vertical-align: top;
    display: inline-block;
    width: 25%;
    float: right;
    .vote-medium-box-header {
      padding: 20px;
      font-size: 14px;
      background: var(--main-color);
      border-bottom: 2px solid rgba(0,0,0,.2);
      h3 {
        color: #ffffff;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 2px 2px rgba(0,0,0,.1);
      }
    }
    .vote-medium-box-body {
      background: #2c3136;
      padding: 10px;
      a {
        display: block;
        color: #c8c8c8;
        padding: 15px;
        margin-top: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        transition: all 0.15s;
        background: #262b2f;
      }
      a:hover {
        color: var(--main-color);
      }
    }
  }
}

// MOBILE NAVIGATION
#testare-hide {
  display: inline-block;
}
#open-nav {
  display: none;
  cursor: pointer;
  outline: none;
  border: none;
  margin: auto;
  background: none;
  color: #fff;
  i {
    font-size: 20px;
  }
}
.mobile-navigation {
  z-index: 10000;
  top: 0;
  left: -300px;
  transition: all 0.30s;
  overflow-y: auto;
  #close-nav {
    cursor: pointer;
    outline: none;
    display: block;
    width: 100%;
    background: #37393e;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
  }
  background: #262b2f;
  z-index: 10000;
  position: fixed;
  height: 100%;
  width: 300px;
  .header-mobile-navigation {
    img {
    padding: 20px;
    display: block;
    margin: auto;
    }
  }
  .body-mobile-navigation {
    .navigatie-mobil {
      margin-bottom: 10px;
      p {
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        background: #2c3136;
        color: #fff;
        letter-spacing: 1px;
        border-bottom: 3px solid rgba(0,0,0,0.2);
      }
    }
    ul {
      margin-bottom: 30px;
      li {
        margin-top: 5px;
        a {
          padding: 20px;
          color: #fff;
          text-decoration: none;
          display: block;
          transition: all 0.15s;
        }
        a:hover {
          color: var(--main-color);
        }
      }
    }
  }
}

.config-page {
  .config-header {
    background: #37393e;
    padding: 20px;
    h2 {
      color: #6C6F77;
    }
  }
  .config-body {
    background: #2c3136;
    padding: 20px;
    input {
      padding: 20px 15px;
      margin: 10px;
      display: inline-grid;
      grid-template-columns: auto auto auto;
      outline: none;
      border-radius: 5px;
      background: #f9f6f6;
    }
  }
  .buttons-config {
    text-align: center;
    background: #37393E;
    padding: 20px;
    margin-bottom: 20px;
  }
  button {
    margin: auto;
    display: inline-block;
    padding: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
  }
  .create-config {
    background: #4CAF50;
  }
  .copy-config {
    background: #337ab7;
  }
  .clear-config {
    background: #f44336;
  }
  .show-config {background: #f0ad4e;}
  .console-config {
    padding: 20px;
    background: black;
    p {
      color: #fff;
    }
    textarea {
      width: 100%;
      background: black;
      color: #fff;
      outline: none;
    }
  }
  .arata-consola {
    display: none;
  }
}

// SPIN
.roata {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-top: 3px solid var(--main-color);
  border-left: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-right: 3px solid #fff;
  animation: rotatie 1s infinite;
}

@keyframes rotatie {
   from {
     transform: rotate(0deg);
   } to {
    transform: rotate(360deg);
   }
}

// MOBILE NAV DESIGN
.shadow-open {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

// UPDATES LOGS
.triplezone-update-logs {
  -webkit-box-shadow: 0 10px 12px rgba(0,0,0,.1);
  box-shadow: 0 10px 12px rgba(0,0,0,.1);
  background: #2c3136;
  margin-bottom: 30px;
  padding-bottom: 10px;
  .modul-hr {
    margin-top: 8px;
    margin-bottom: 0!important;
    border: 0;
    border-top: 3px solid #262b2f;
    width: 30px;
    transition: all .3s;
  }
  .triplezone-update-header {
      padding: 35px;
    h2 {
      color: var(--main-color);
    }
  }
  .triplezone-update-body {
      .triplezone-update-col {
        padding: 15px 35px;
        font-size: 15px;
      }
      .triplezone-update-col:nth-of-type(odd) {
        background: #262b2f;
        padding: 15px 35px;
        font-size: 15px;
      }
      p {
        padding: 6px 7px;
        display: inline-block;
      }
      ul {
        float: right;
        display: inline-block;
        list-style-type: none;
        p:not(:first-child) {
          margin-left: 10px;
          display: inline-block;
          background: rgba(255, 255, 255, 0.035);
          color: #BDC7D1;
          padding: 6px 7px;
        }
        p {
          font-size: 13px;
          display: inline-block;
          background: rgba(255, 255, 255, 0.035);
          color: #BDC7D1;
          padding: 6px 7px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
}

.loadingcontainer{z-index:9999;width:100%;height:100%;background:rgba(0,0,0,.8);position:fixed;display:flex;align-items:center;justify-content:center}.loader{z-index:10000}.loadingcontainer.hidden{animation:hidden 1s;animation-fill-mode:forwards}.loader>span{z-index:10001;width:6px;height:60px;background:#FEEFD5;display:inline-block;transform-origin:bottom center;animation:loadingAnimation .8s linear infinite}.loader span:nth-child(2){animation-delay:.1s}.loader span:nth-child(3){animation-delay:.2s}.loader span:nth-child(4){animation-delay:.3s}.loader span:nth-child(5),.loader span:nth-child(6){animation-delay:.4s}@keyframes loadingAnimation{0%,100%{background:#FEEFD5;transform:scaleY(.5)}50%{background:#FFA200;transform:scaleY(1.1)}}.loader h3{color:#999;letter-spacing:3px}@keyframes hidden{100%{opacity:0;visibility:hidden}}





// NEW HEADER


.catalin-header {
  margin-bottom: 25px;
  background: url(../imagini/background-page.jpg) center;  .catalin-navigatie {
    padding: 20px 0;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.02);
    .catalin-nav-social {
      float: left;
      display: inline-block;
      margin-top: 3px;
      position: absolute;
      li:not(:nth-child(1)) {
        margin-left: 5px;
      }
      li {
        display: inline-block;
        a {
          box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
          color: #AAACB2;
          background: rgba(255,255,255,0.17);
          width: 48px;
          height: 48px;
          display: inline-block;
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          transition: all 0.30s;
          i {
            text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
            font-size: 1.4em;
            line-height: 48px;
            margin: auto;
          }
        }
      }
    }
  }
  .catalin-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      display: inline-block;
      .store {
        width: 120px;
        background: var(--main-color);
        padding: 15px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        border-bottom: 2px solid rgba(0,0,0,.2);
        border-radius: 50px;
      }
      .store:hover {

      }
      a {
        display: inline-block;
        color: #c6c3c3;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 3px solid rgba(0,0,0,0);
        transition: all 0.30s;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
        padding: 15px 15px;
        border-bottom: 1px solid transparent;
      }
      a:hover {
        color: #fff;
      }
      a:not(:nth-child(2)) {
        margin-left: 10px;
      }
    }
  }
  .catalin-header-content {
    text-align: center;
    top: 50%;
    margin-top: 50px;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.18) 30%, #262b2f 100%);
    padding-bottom: 50px;
  }
}

.coloana-3 {
    display: flex;
    align-items: flex-end;
    .cutie-1 {
      flex:1;
      text-align: right;
    }
    .cutie-2 {
      flex:2;
    }
    .cutie-3 {
      flex:1;
      text-align: left;
    }
}

.invarte {
  width: 12px;
  height: 12px;
  animation: invarte 1s infinite;
  border-top: 3px solid var(--main-color);
  border-left: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
}

@keyframes invarte {
  from {
    transform: rotate(0deg);
  }to {
    transform: rotate(360deg);
  }
}

.steluta {
  transform: translate(17px,-23px)!important;
  position: absolute;
  transition: all .15s;
}

.store:hover .steluta {
    transition: all .15s;
    transform: translate(17px,-23px) rotate(180deg) scale(1.3, 1.3)!important;
    color: #fff;
}

.cutie-2 img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.triplezone-navigation-links {
  margin: 20px auto;
  text-align: center;
  li:not(:nth-child(0)) {
    margin-right: 10px;
  }
  li {
    display: inline-block;
    a {
      font-weight: bold;
      border-radius: 0px;
      background-color: var(--main-color);
      border-bottom: 3px solid rgba(0,0,0,0.5);
      padding: 15px;
      text-decoration: none;
      color: #fff;
      text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      span {
        padding: 5px;
        background: rgba(0,0,0,0.1);
        border-radius: 50px;
      }
    }
  }
}

col-lg-12,
.litebans-header,
table tr td,
th {
    text-align: center
}

.button-bans,
tr.hover {
    cursor: pointer
}

.button-bans,
a,
a:focus,
a:hover {
    text-decoration: none
}

.avatar {
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 2px
}

.avatar-name-left {
    display: flex
}

.litebans-header {
    display: block
}

.navbar {
    font-weight: 700
}

.navbar-brand {
    font-weight: 400
}

.navbar-active {
    font-weight: bolder
}

.my-lg-0 {
    font-weight: lighter
}

table tr td {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle!important
}

p {
    margin-top: 2px
}

.litebans-check {
    text-align: left
}

.buttons-bans,
.litebans-index {
    text-align: center
}

.litebans-check-form {
    margin-left: 15px
}

.litebans-check-output {
    margin-left: 3px
}

.litebans-pager {
    font-size: 30px
}

.litebans-pager-number {
    margin-top: 24px;
    text-align: center;
    font-size: 15px
}

.litebans-pager-left {
    float: left
}

.litebans-pager-right {
    float: right
}

.litebans-pager-inactive {
    color: transparent
}

.litebans-index-main {
    font-weight: 700
}

.litebans-index-sub {
    font-weight: lighter
}

.badge,
.badge-pill {
    font-weight: 100
}

.litebans-label-container {
    display: inline-flex
}

.litebans-label-info {
    margin-left: 15px;
    font-size: 17px;
    font-weight: 800
}

.litebans-label-inactive {
    color: #fff;
    background-color: #f79720
}

.litebans-label-expired {
    color: #fff;
    background-color: #777
}

.litebans-label-active,
.litebans-label-ipban,
.litebans-label-permanent {
    color: #fff;
    background-color: #e55
}

.litebans-label-history {
    display: inline;
    font-size: 16px;
    font-weight: 800
}

.litebans-label-ban {
    background-color: #8b0000;
    color: #fff;
}

.litebans-label-mute {
    background-color: #696969;
    color: #fff;
}

.litebans-label-warn {
    background-color: #ff8c00;
    color: #fff;
}

.litebans-label-kick {
    background-color: tomato;
    color: #fff;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.noalign-w {
    width: 0
}

.noalign-h {
    height: 0
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
    padding: 20px;
    border-bottom: 4px solid rgba(0,0,0,0.1);
    background: var(--main-color);
    color: #fff;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.08);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2c3136;
}
